@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome to the Recipe App</h1>
    <p>Please log in or register to get started.</p>

    <div>
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
        <a href="@Url.Action("Register", "Account")" class="btn btn-success">Register</a>
    </div>
</div>
